@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}



/* header and navigation start's from here */
header {
    background-image: url(image_folder/banner_header.png);
    width: 100%;
    background-position: center;
    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 999;
}

.container-fluid {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

.brand_logo img {
    width: 114px;
}

nav {
    flex-grow: 1;
    text-align: center;
}

.nav-links {
    list-style: none;
}

ul.nav-links {
    margin: 0;
    padding-top: 34px;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav-links a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: var(--white);
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
    color: var(--orange);
    transition: ease-in-out 0.3s;
}

.login-button {
    padding-top: 36px;
}

.login-button a {
    text-decoration: none;
    background-color: var(--orange);
    color: var(--light);
    padding: 8px 15px;
    border-radius: 5px;
    transition-duration: 0.3s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.login-button a:hover {
    background-color: var(--light);
    color: var(--orange);
    box-shadow: -3px 0px 20px 0px #232222c2;
}

/* header and navigation End's from here */



/* section no.1 starts from here */
.banner_section img {
    width: 100%;
    flex-shrink: 0;
}

/* text-banner starts from here */
.text_banner {
    width: 100%;
    padding: 20px 142px;
}

.banner-text_container {
    text-align: center;
    background-color: #004878;
    color: var(--light);
    padding: 20px;
    border-radius: 5px;
}

.banner-text_container h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 46px;
    letter-spacing: 7px;
}

.banner-text_container span {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* text-banner end from here */

/* section no.1 end from here */

/* cards section start*/
/* batminton card satrt */
.card {
    background-color: #536CDC;
    overflow: hidden;
    width: 300px;
    height: 178px;
    /* Added height to fit the image */
    padding: 10px;
    border-radius: 5px;
    margin: 27px;
    box-shadow: 1px 7px 17px #00000061;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.card:hover {
    box-shadow: 1px 11px 17px #00000078;
    transition: all 0.5s ease;
}


.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card_container a {
    text-decoration: none;
}

.card .batminton-1_img img {
    width: 180px;
    position: relative;
    bottom: -76px;
    left: -2px;
    transition: all 0.9s ease;
    /* Added transition */
}

.card:hover .batminton-1_img img {
    width: 200px;
    bottom: -40px;
    transition: all 0.5s ease;
    /* Ensuring transition on hover */
}

.card .batminton-2_img img {
    width: 80px;
    position: relative;
    bottom: -11px;
    left: 20px;
    transition: all 0.9s ease;
}

.card:hover .batminton-2_img img {
    width: 100px;
    bottom: 5px;
    left: -45px;
    transition: all 0.5s ease;
}

.card .text {
    color: var(--light);
}

.card .text h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

.card span {
    font-family: "Hind", sans-serif;
    font-size: 10px;
}

.text {
    position: relative;
    text-align: start;
    width: 168%;
    bottom: -79px;
    padding: 20px;
    left: -150px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0 0 0 / 82%) 10%, rgb(55 53 53 / 0%) 80%);
    transition: all 0.9s ease;
}

.card:hover .batminton-2_img .text {
    position: relative;
    width: 168%;
    padding: 20px;
    bottom: -17px;
    left: -163px;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0 0 0 / 82%) 10%, rgb(55 53 53 / 0%) 80%);
    transition: all 0.5s ease;
}

/* batminton card satrt */



/* basketball card start  */
.card h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}


.card .basketball-1_img img {
    position: relative;
    width: 164px;
    bottom: -64px;
    left: 20px;
    transition: all 0.5s ease;
}

.card:hover .basketball-1_img img {
    width: 184px;
    bottom: -14px;
    left: 74px;
    transition: all 0.5s ease;
}



.card .basketball-2_img img {
    width: 102px;
    position: relative;
    bottom: 20px;
    left: 28px;
    transition: all 0.5s ease;
}

.card:hover .basketball-2_img img {
    width: 136px;
    position: relative;
    bottom: -15px;
    left: 10px;
    transition: all 0.5s ease;
}

.card .basketball_text {
    color: var(--light);
}

.basketball_text {
    position: absolute;
    text-align: start;
    top: 171px;
    left: 0px;
    width: 100%;
    padding: 6px 13px;
    background: linear-gradient(0deg, rgb(0 0 0 / 68%) 10%, rgb(0 0 0 / 1%) 80%);
    transition: all 0.5s ease;

}

.card:hover .basketball_text {
    position: absolute;
    text-align: start;
    top: 117px;
    left: 0px;
    width: 100%;
    padding: 6px 13px;
    background: linear-gradient(0deg, rgb(0 0 0 / 68%) 10%, rgb(0 0 0 / 1%) 80%);
    transition: all 0.5s ease;
}

/* basketball card End */


/* Table_tennis card start */
.card .Table_tennis-1 img {
    width: 160px;
    position: relative;
    bottom: -44px;
    left: -7px;
    transition: all 0.5s ease;
}

.card:hover .Table_tennis-1 img {
    width: 189px;
    position: relative;
    bottom: -15px;
    left: -34px;
    transition: all 0.5s ease;
}

.card .Table_tennis-2 img {
    width: 30px;
    position: relative;
    bottom: 20px;
    left: 28px;
    transition: all 0.5s ease;
}

.card:hover .Table_tennis-2 img {
    width: 30px;
    position: relative;
    bottom: -19px;
    left: -74px;
    transition: all 0.5s ease;
}

/* Table_tennis card End */

/* wrestling card start */
.card .wrestling-1 img {
    width: 131px;
    position: relative;
    bottom: -46px;
    left: -24px;
    transition: all 0.5s ease;
}

.card:hover .wrestling-1 img {
    width: 131px;
    position: relative;
    bottom: -27px;
    left: 27px;
    transition: all 0.5s ease;
}


.card .wrestling-2 img {
    width: 123px;
    position: relative;
    bottom: -39px;
    left: 28px;
    transition: all 0.5s ease;
}

/* wrestling card End */


/*   card start */
/* second card color */
.card_2 {
    background-color: #536CDC;
    overflow: hidden;
    width: 300px;
    height: 178px;
    padding: 10px;
    border-radius: 5px;
    margin: 27px;
    box-shadow: 1px 5px 15px #00000057;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.card_2:hover {
    box-shadow: 1px 11px 17px #00000078;
    transition: all 0.5s ease;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card_container a {
    text-decoration: none;
}

.card_2 .football-1_img img {
    width: 136px;
    position: relative;
    bottom: -33px;
    left: -63px;
    transition: all 0.5s ease;
}

.card_2:hover .football-1_img img {
    width: 166px;
    position: relative;
    bottom: -9px;
    left: -48px;
    transition: all 0.5s ease;
}

.football-2_img img {
    width: 41px;
    position: relative;
    top: 39px;
    left: 26px;
    transition: all 0.5s ease;
}

.card_2:hover .football-2_img img {
    width: 40px;
    position: relative;
    top: -37px;
    left: -88px;
    transition: all 0.5s ease;
}

.card_2 .football_text {
    color: var(--light);
}

.card_2 .football_text h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

.card_2 span {
    font-family: "Hind", sans-serif;
    font-size: 10px;
}



.football_text {
    position: absolute;
    text-align: start;
    top: 171px;
    left: 0px;
    width: 100%;
    padding: 6px 13px;
    background: linear-gradient(0deg, rgb(0 0 0 / 68%) 10%, rgb(0 0 0 / 1%) 80%);
    transition: all 0.5s ease;

}

.card_2:hover .football_text {
    position: absolute;
    text-align: start;
    top: 117px;
    left: 0px;
    width: 100%;
    padding: 6px 13px;
    background: linear-gradient(0deg, rgb(0 0 0 / 68%) 10%, rgb(0 0 0 / 1%) 80%);
    transition: all 0.5s ease;

}

/* Football card End */


/* Athletics card start */
.basketball-2_img .athletics-2 img {
    position: relative;
    width: 130px;
    top: 43px;
    left: 20px;
}

.card:hover .basketball-2_img .athletics-2 img {
    position: relative;
    width: 130px;
    top: 43px;
    left: 20px;
}

.athletics-1 img {
    width: 135px;
    position: relative;
    bottom: -13px;
    left: 58px;
    transition: all 0.5s ease;
}

.card:hover .athletics-1 img {
    width: 135px;
    position: relative;
    bottom: -11px;
    left: 69px;
    transition: all 0.5s ease;
}

.card .athletics-1 img {
    width: 136px;
    position: relative;
    bottom: -36px;
    left: -18px;
    transition: all 0.5s ease;
}

/* Athletics card End */




/* Taekwondo card start */

.basketball-2_img .Taekwondo-2 img {
    width: 136px;
    position: relative;
    bottom: -30px;
    left: -20px;
    transition: all 0.5s ease;
}

.card:hover .basketball-2_img .Taekwondo-2 img {
    width: 136px;
    position: relative;
    bottom: -30px;
    left: -20px;
    transition: all 0.5s ease;
}

.basketball-2_img .Taekwondo-2 img {
    width: 136px;
    position: relative;
    bottom: -30px;
    left: 29px;
    transition: all 0.5s ease;
}

.card:hover .basketball-2_img .Taekwondo-2 img {
    width: 136px;
    position: relative;
    bottom: -30px;
    left: -20px;
    transition: all 0.5s ease;
}

/* Taekwondo card start */


/* Tennis card start */

.card_2 .Tennis-1 img {
    width: 148px;
    position: relative;
    top: 33px;
    left: -65px;
    transition: all 0.5s ease;
}

.card_2:hover .Tennis-1 img {
    width: 153px;
    position: relative;
    top: 13px;
    left: -61px;
    transition: all 0.5s ease;
}


.card_2 .Tennis-2 img {
    width: 20px;
    position: relative;
    top: 39px;
    left: 26px;
    transition: all 0.5s ease;
}

.card_2:hover .Tennis-2 img {
    width: 20px;
    position: relative;
    top: -7px;
    left: -85px;
    transition: all 0.5s ease;
}

/* Tennis card End */


/* chess card start  */

.card_2 .Chess-1 img {
    width: 203px;
    position: relative;
    top: 58px;
    left: -14px;
    transition: all 0.5s ease;
}

.card_2:hover .Chess-1 img {
    width: 203px;
    position: relative;
    top: 26px;
    left: -12px;
    transition: all 0.5s ease;
}

.card_2 .Chess-2 img {
    width: 110px;
    position: relative;
    top: 45px;
    left: -21px;
    transition: all 0.5s ease;
}

.card_2:hover .Chess-2 img {
    width: 110px;
    position: relative;
    top: 3px;
    left: -21px;
    transition: all 0.5s ease;
}

/* chess card End  */

/* Carrom .card start  */

.card_2 .Carrom-1 img {
    width: 153px;
    position: relative;
    top: 18px;
    left: -22px;
    transition: all 0.5s ease;
}

.card_2:hover .Carrom-1 img {
    width: 179px;
    position: relative;
    top: 1px;
    left: -22px;
    transition: all 0.5s ease;
}


.card_2 .Carrom-2 img {
    width: 115px;
    position: relative;
    top: 38px;
    left: 25px;
    transition: all 0.5s ease;
}

.card_2:hover .Carrom-2 img {
    width: 125px;
    position: relative;
    top: 24px;
    left: -2px;
    transition: all 0.5s ease;
}

/* Carrom card End  */


/* Kho-Kho .card start  */
.card_2 .Kho_Kho-1 img {
    width: 161px;
    position: relative;
    top: 27px;
    left: -11px;
    transition: all 0.5s ease;
}

.card_2:hover .Kho_Kho-1 img {
    width: 165px;
    position: relative;
    top: 1px;
    left: 10px;
    transition: all 0.5s ease;
}


.card_2 .Kho_Kho-2 img {
    width: 133px;
    position: relative;
    top: 31px;
    left: 3px;
    transition: all 0.5s ease;
}

.card_2:hover .Kho_Kho-2 img {
    width: 133px;
    position: relative;
    top: 13px;
    left: -31px;
    transition: all 0.5s ease;
}

/* Kho-kho card End  */


/* Shooting .card start  */
.card_2 .Shooting-1 img {
    width: 151px;
    position: relative;
    top: 37px;
    left: 0px;
    transition: all 0.5s ease;
}

.card_2:hover .Shooting-1 img {
    width: 167px;
    position: relative;
    top: 27px;
    left: 1px;
    transition: all 0.5s ease;
}


.card_2 .Shooting-2 img {
    width: 92px;
    position: relative;
    top: 48px;
    left: 0px;
    transition: all 0.5s ease;
}

.card_2:hover .Shooting-2 img {
    width: 100px;
    position: relative;
    top: 38px;
    left: -24px;
    transition: all 0.5s ease;
}

/* Shooting card End  */


/* Cycling card start */
.card .Cycling-1 img {
    width: 171px;
    position: relative;
    bottom: -19px;
    left: -66px;
    transition: all 0.5s ease;

}

.card:hover .Cycling-1 img {
    width: 177px;
    position: relative;
    bottom: 6px;
    left: 2px;
    transition: all 0.5s ease;
    transform: rotate(7deg);
}

/* Cycling card End */

/* tug_of-war card start */

.card .tug_of-war img {
    width: 210px;
    position: relative;
    bottom: -3px;
    left: -9px;
    transition: all 0.5s ease;
}

.card:hover .tug_of-war img {
    width: 210px;
    position: relative;
    bottom: -3px;
    left: -9px;
    transform: scale(1.5);
    transition: all 0.5s ease;
}

/* tug_of-war card End */



/* Cricket .card start  */
.card_2 .Cricket-1 img {
    width: 204px;
    position: relative;
    top: 24px;
    left: 33px;
    transition: all 0.5s ease;
}

.card_2:hover .Cricket-1 img {
    width: 210px;
    position: relative;
    top: 7px;
    left: 33px;
    transition: all 0.5s ease;
}

.card_2 .Cricket-2 img {
    width: 101px;
    position: relative;
    top: 77px;
    left: 0px;
    transition: all 0.5s ease;
}

.card_2:hover .Cricket-2 img {
    width: 100px;
    position: relative;
    top: 44px;
    left: -24px;
    transition: all 0.5s ease;
}

/* Cricket card End*/


/* Swimming card start */


.card_2 .Swimming-1 img {
    width: 160px;
    position: relative;
    top: 49px;
    left: 98px;
    transition: all 0.5s ease;
}

.card_2:hover .Swimming-1 img {
    width: 171px;
    position: relative;
    top: 20px;
    left: 140px;
    transition: all 0.5s ease;
}

.card_2 .Swimming-2 img {
    width: 305px;
    position: relative;
    top: 81px;
    left: -82px;
    transition: all 0.5s ease;
}

.card_2:hover .Swimming-2 img {
    width: 334px;
    position: relative;
    top: 63px;
    left: -98px;
    transition: all 0.5s ease;
}

/* Swimming card End */

/* Kabaddi card start */
.card .Kabaddi-1 img {
    width: 258px;
    position: relative;
    bottom: -51px;
    left: 41px;
    transition: all 0.5s ease;
}

.card:hover .Kabaddi-1 img {
    width: 258px;
    position: relative;
    bottom: -46px;
    left: -22px;
    transition: all 0.5s ease;
}

.card .Kabaddi-2 img {
    width: 128px;
    position: relative;
    bottom: 12px;
    left: -127px;
    transition: all 0.5s ease;
}

.card:hover .Kabaddi-2 img {
    width: 128px;
    position: relative;
    bottom: 3px;
    left: -80px;
    transition: all 0.5s ease;
}

/* Kabaddi card End */


/* Handball card start */

.card .Handball-1 img {
    width: 189px;
    position: relative;
    bottom: -44px;
    left: -9px;
    transition: all 0.5s ease;
}

.card:hover .Handball-1 img {
    width: 158px;
    position: relative;
    bottom: -9px;
    left: 34px;
    transform: scale(1.5);
    transition: all 0.5s ease;
}

/* Handball card End */

/* VolleyBall card start */

.card .VolleyBall-1 img {
    width: 160px;
    position: relative;
    bottom: -44px;
    left: -41px;
    transition: all 0.5s ease;
}

.card:hover .VolleyBall-1 img {
    width: 160px;
    position: relative;
    bottom: -22px;
    left: -8px;
    transition: all 0.5s ease;
}

.card .VolleyBall-2 img {
    width: 54px;
    position: relative;
    bottom: 31px;
    left: 28px;
    transition: all 0.5s ease;
}


.card:hover .VolleyBall-2 img {
    width: 54px;
    position: relative;
    bottom: -19px;
    left: -34px;
    transition: all 0.5s ease;
}

/* VolleyBall card End */


/* Archery card start */

.card .Archery-1 img {
    width: 162px;
    position: relative;
    bottom: -36px;
    left: 14px;
    transition: all 0.5s ease;
    opacity: 0.3;
}

.card:hover .Archery-1 img {
    width: 162px;
    position: relative;
    bottom: -17px;
    left: 17px;
    transition: all 0.5s ease;
    opacity: 0.3;
}

.card .Archery-2 img {
    width: 151px;
    position: relative;
    bottom: -50px;
    left: -4px;
    transition: all 0.5s ease;
}


.card:hover .Archery-2 img {
    width: 151px;
    position: relative;
    bottom: -30px;
    left: -4px;
    transition: all 0.5s ease;
}

/* Archery card End */
/*cards section End*/


/* Footer start from here.... */

/* Footer Styles */
footer {
    font-family: "Montserrat", sans-serif;
    background-color: #0056B3;
    color: #f8f8f8;
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
} 

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.footer_text p {
    margin: 0;
    font-size: 14px;
    color: #f8f8f8;
}

.footer_text span {
    display: block;
    font-size: 12px;
    color: #a9a9a9;
}

.term_and-condition ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.term_and-condition ul li {
    margin-right: 10px;
}

.term_and-condition ul li a {
    color: #f8f8f8;
    text-decoration: none;
    font-size: 14px;
}

.term_and-condition ul li a:hover {
    text-decoration: underline;
}

.social-icons a {
    color: var(--light);
    font-size: 19px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: var(--cyan);
    /* Color on hover, you can change this */
}

/* footer end here */